{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SMH's Welcome Email</title>
</head>
<body style="margin-top:70px; padding: 0; font-family: Arial, sans-serif; background-color: black; color: #333; box-sizing: border-box;">
  
    <img 
      alt="Company Logo"
      src="https://smhmediabuck.s3.ap-southeast-1.amazonaws.com/serverAssets/EmailTemplateBanner.png"
      style="display: block; max-width: 750px; margin: 0 auto 10px; width: 100%;"
    >
    <div
      class="container"
      style="
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #eaeaea;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        background-color: #fff;
      "
    >
    <h4>{{date}}</h4>
      
      <main style="text-align: center;">
        <h1 style="font-size: 24px; margin-bottom: 10px; color: #ff6600;">Welcome to SketchMyHome.AI</h1>
        <p style="margin: 10px 0; font-size: 16px; color: #333;">Hello <b>{{name}} </b>,</p>
        <p style="font-size: 16px; line-height: 1.5; color: #333;">
          Congratulations! Your email has been successfully verified, and your account has been created.
          We are excited to have you on board at SketchMyHome.AI. Feel free to explore the platform and bring your architectural ideas to life.
        </p>
        <p style="font-size: 16px; line-height: 1.5; color: #333;">
          If you have any questions or need assistance, don't hesitate to reach out to our support team.
        </p>
  
        <p style="margin-top: 30px; font-size: 14px;">
          Need help? Contact us at
          <a href="mailto:server@sketchmyhome.ai" style="color: #ff6600; text-decoration: none;">support@sketchmyhome.ai</a>
        </p>
      </main>
  
      <footer style="margin-top: 30px; text-align: center; font-size: 12px; color: #777;">
        <p style="margin: 5px 0; color: #333; font-weight: bold;">SketchMyHome.AI</p>
        <p style="margin: 5px 0;">278, PU4, Scheme No. 54, Indore [M.P], India</p>
        <p style="margin: 5px 0; font-style: italic; font-size: 10px;">©️ 2024 Highnest Sustainable Pvt. Ltd. All rights reserved.</p>
      </footer>
    </div>
  </body>
</html>
